.current {
  @apply z-10
  bg-indigo-50
  border-indigo-500
  text-indigo-600
  relative
  inline-flex
  items-center
  px-4
  py-2
  border
  text-sm
  font-medium;
}

.page {
  @apply bg-white
  border-gray-300
  text-gray-500
  hover:bg-gray-50
  hidden
  md:inline-flex
  relative
  items-center
  px-4
  py-2
  border
  text-sm
  font-medium
  select-none;
  cursor: pointer;
}

.separator {
  @apply relative
  inline-flex
  items-center
  px-4
  py-2
  border
  border-gray-300
  bg-white
  text-sm
  font-medium
  text-gray-700;
}

.wrapper {
  @apply bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6;
}